minimum_pre_commit_version: 4.0.0
default_stages: [
  pre-commit,
  pre-merge-commit,
  pre-push,
  prepare-commit-msg,
  commit-msg,
  post-checkout,
  post-commit,
  post-merge,
  post-rewrite
]

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.11.8
  hooks:
  - id: ruff
    args: [--exit-non-zero-on-fix]
  - id: ruff-format

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-case-conflict
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
    exclude: \.txt$
  - id: mixed-line-ending
    args: [--fix=auto]
  - id: fix-byte-order-marker
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: debug-statements
    files: \.py$

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    types_or: [python, markdown]
    additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
  - id: mypy
    args: [--config=pyproject.toml]
